/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap");

/* Universal Style  */
* {
  font-family: "Big Shoulders Text", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

/* Some variables */
:root {
  --main-color: #273fa1;
  --text-color: #000;
  --bg-color: #fff;
  --container-color: #1e1e2a;
}

/* Utility Classes  */
body {
  color: var(--text-color);
  background-color: var(--bg-color);
}
img {
  width: 100%;
}
section {
  padding: 4rem 0 2rem;
}
.container {
  max-width: 1070px;
  margin: auto;
  width: 100%;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-col {
  flex-direction: column;
}
